<!DOCTYPE html>
<html>
	<head>
		<title>Search Date</title>
	</head>
	<body>
		<form action="/quantity" method="POST">
			Please select a date range to return quantity of product sold:<br>
			<input type="date" name="date">
			<input type="submit">
		</form>
	</body>
</html>