<!DOCTYPE html>
<html>
	<head>
		<title>Orders for Customer</title>
	</head>
	<body>
		<form action="/orders" method="POST">
			<label>Enter the customer's name to see orders:</label><br>
			<input type="text" name="name"></>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>