<!DOCTYPE html>
<html>
	<head>
		<title>My Orders</title>
	</head>
	<body>
		<form action="/result" method="POST">
			<label>Enter the person's order id or first name</label><br>
			<input type="text" name="name"></>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>